In [6]:
#import necessary modules
import pymongo


##create a Database
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/') #connect to the local mongodb server

mydb = client['telephone'] #connect to the database


##create a collections

info = mydb.directory  #connect the collection

In [5]:
record={
    "name":"nithilaselvan",
    "phone":9585829564,
    "age" :24,
    "place":"chennai"
    
}
info.insert_one(record)

### Insert the mutlitple record into collections

In [8]:
records=[
    {
    "name":"ragu",
    "phone":8865421579,
    "age" :24,
    "place":"trichy"
    
},
     {
    "name":"vinoth",
    "phone":8865421538,
    "age" :24,
    "place":"madurai"
    
},
     {
    "name":"jenil rath",
    "phone":8865427595,
    "age" :24,
    "place":"sivagangai"
    
},
     {
    "name":"yosuva",
    "phone":8886667772,
    "age" :20,
    "place":"trichy"
    
}]

In [9]:
#Insert the many records using insert_many() method

info.insert_many(records)

### Query to find or view the records

In [10]:
for x in info.find():
    print(x)

{'_id': ObjectId('6225bf042c9a0b0fefc870fa'), 'name': 'nithilaselvan', 'phone': 9585829564, 'age': 24, 'place': 'chennai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fc'), 'name': 'ragu', 'phone': 8865421579, 'age': 24, 'place': 'trichy'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fd'), 'name': 'vinoth', 'phone': 8865421538, 'age': 24, 'place': 'madurai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fe'), 'name': 'jenil rath', 'phone': 8865427595, 'age': 24, 'place': 'sivagangai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870ff'), 'name': 'yosuva', 'phone': 8886667772, 'age': 20, 'place': 'trichy'}

### Modify the Records

In [11]:
## modify the records using update_one() method

info.update_one(
{"name":"yosuva"},
{"$set":{"age": 19}}
)

In [12]:
for x in info.find():
    print(x)

{'_id': ObjectId('6225bf042c9a0b0fefc870fa'), 'name': 'nithilaselvan', 'phone': 9585829564, 'age': 24, 'place': 'chennai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fc'), 'name': 'ragu', 'phone': 8865421579, 'age': 24, 'place': 'trichy'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fd'), 'name': 'vinoth', 'phone': 8865421538, 'age': 24, 'place': 'madurai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fe'), 'name': 'jenil rath', 'phone': 8865427595, 'age': 24, 'place': 'sivagangai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870ff'), 'name': 'yosuva', 'phone': 8886667772, 'age': 19, 'place': 'trichy'}

### Delete the Record

In [16]:
#Delete the record using delete_one() method

info.delete_one({"name":"nithilaselvan"})
print("record deleted")

record deleted

In [17]:
for x in info.find():
    print(x)

{'_id': ObjectId('6225c0572c9a0b0fefc870fc'), 'name': 'ragu', 'phone': 8865421579, 'age': 24, 'place': 'trichy'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fd'), 'name': 'vinoth', 'phone': 8865421538, 'age': 24, 'place': 'madurai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870fe'), 'name': 'jenil rath', 'phone': 8865427595, 'age': 24, 'place': 'sivagangai'}
{'_id': ObjectId('6225c0572c9a0b0fefc870ff'), 'name': 'yosuva', 'phone': 8886667772, 'age': 19, 'place': 'trichy'}